@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

nav {
  padding: 2.5rem 3rem;
  z-index: 18;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  transition: all 0.25s ease-in;
  /* filter: blur(1px); */
}
nav svg {
  opacity: 0;
  fill: #434b34;
  /* filter: blur(5px); */
  scale: 0.29;
  width: fit-content;
  position: absolute;
  bottom: -115%;
  left: 0;
  cursor: pointer;
}
.navbarMenu {
  /* outline: solid tomato; */
  opacity: 0;
  height: 18px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 4px;
  cursor: pointer;
}
.navbarMenu span {
  height: 2px;
  width: 40px;
  background-color: #5b6647;
  transition: all ease-in-out 0.2s;
}
.navbarMenu:hover span {
  opacity: 0.6;
}
.navbarMenu.active span.menuLine1 {
  transform: rotate(45deg) translate(4px, 4px);
}
.navbarMenu.active span.menuLine2 {
  opacity: 0;
}
.navbarMenu.active span.menuLine3 {
  transform: rotate(-45deg) translate(5px, -4px);
}

.navbarButtons {
  height: 37px;
  width: 25%;
  font-family: DM-Sans, sans-serif;
  display: flex;
  column-gap: 10px;
  position: relative;
}
.navbarButtons .button1 {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 55%;
  padding: 0.45rem 1.2rem;
  border: 1px solid #d4d4b9;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  /* top: -4px; */
  transition: all 0.3s ease-in-out;
}
.navbarButtons .button1 h1 {
  /* outline: solid tomato; */
  font-weight: 500;
  font-size: 1.2vw;
  color: #566043;
  text-align: center;
  position: absolute;
  top: 17%;
}
.navbarButtons .button1:hover h1 {
  top: 5%;
  opacity: 0;
  transition: 0.2s 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navbarButtons .button1::after {
  content: "Online Check-in";
  font-weight: 500;
  font-size: 1.2vw;
  opacity: 0;
  color: #566043;
  position: absolute;
  left: 0;
  bottom: 12px;
  transform: translateX(23.1%) translateY(45%);
}
.navbarButtons .button1:hover {
  background-color: #e3e3c4;
}
.navbarButtons .button1:hover::after {
  opacity: 1;
  bottom: 49%;
  transition: 0.2s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navbarButtons .button2 {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  cursor: pointer;
  padding: 0.45rem 1.2rem;
  background-color: #566043;
  border: 1px solid #566043;
  border-radius: 50px;
  position: relative;
  /* top: -4px; */
  transition: all 0.3s ease-in-out;
}
.navbarButtons .button2 h1 {
  position: absolute;
  top: 17%;
  font-weight: 500;
  font-size: 1.2vw;
  color: #f7f7ee;
}
.navbarButtons .button2:hover h1 {
  top: 30%;
  opacity: 0;
  transition: 0.2s 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navbarButtons .button2::after {
  content: "Book now";
  font-weight: 500;
  font-size: 1.2vw;
  opacity: 0;
  color: #f7f7ee;
  position: absolute;
  left: 0;
  bottom: 12px;
  transform: translateX(35.5%) translateY(50%);
}
.navbarButtons .button2:hover {
  background-color: #434b34;
}
.navbarButtons .button2:hover::after {
  opacity: 1;
  bottom: 50%;
  transition: 0.2s 0.23s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (max-width: 768px) {
  nav {
    height: 20px;
    padding: 1.6rem 1rem;
  }

  .navbarButtons {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .navbarButtons .button1 {
    display: none;
  }
  .navbarButtons .button1,
  .navbarButtons .button2 {
    width: 60%;
    padding: 1.2rem;
    
  }

  .navbarButtons .button2 h1,
  .navbarButtons .button2::after {
    top: 15%;
    font-size: 2.3vw;
  }
  .navbarButtons .button2::after {
    transform: translateX(19%) translateY(30%);
  }
  .navbarButtons .button2:hover::after {
    bottom: 85%;
  }
  
  nav svg {
    scale: 0.4;
    bottom: -180%;
  }
}
@media only screen and (max-width: 374px) {
 
  .navbarButtons {
    align-items: center;
  }
  .navbarButtons .button1 {
    display: none;
  }
  .navbarButtons .button2 {
    width: 100%;
    padding: 0.9rem 1.8rem;
    
  }
  .navbarButtons .button2 h1,
  .navbarButtons .button2::after {
    top: 20%;
    font-size: 3.2vw;
  }
  .navbarButtons .button2::after {
    transform: translateX(26%) translateY(40%);
  }
  .navbarButtons .button2:hover::after {
    bottom: 85%;
  }  
  nav svg {
    scale: 0.4;
    bottom: -180%;
  }
}
  