.swiper-slide img {
  display: block;
  width: 78%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: bottom;
  transform: scale(0.6) translateX(-65%) translateY(33%);
  transition: all 0.4s ease;
}

.swiper-slide-active img {
  transform: scale(1) translateX(5%) translateY(0%);
  transition: all 0.38s ease;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  color: #5b6647 !important;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .swiper-slide img {
    height: 60%;
    transform: scale(0.6) translateX(-60%) translateY(100%);
  }
  .swiper-slide-active img {
    transform: scale(1) translateX(5%) translateY(40%);
  }
}
